* {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

@font-face {
    font-family: coolvetica;
    src: url(../fonts/coolvetica.otf);
}

@font-face {
    font-family: body;
    src: url(../fonts/Flying_Sneakers.otf);
}

.navbar-toggler {
    background-color: #393e46;
    border: none;
}

.navbar-toggler:hover {
    background-color: #393e46;
}

.nav-item a {
    font-size: 18px;
    font-family: coolvetica;
    color: #eeeeee;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
}

.nav-item a:focus,
.nav-item a:hover {
    color: #fff;
}

.nav-item a:focus:after,
.nav-item a:hover:after {
    width: 100%;
    left: 0%;
}

.nav-item a:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #00adb5;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}

#divBusca {
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 0 5px;
}

#divBusca input {
    background-color: #eeeeee;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    font-family: coolvetica;
    width: 50vh;
    height: 20px;
    border-radius: 15px;
    color: #00adb5;
    box-shadow: 0 0.4rem #393e46;
}

#divBusca input:focus {
    outline-color: #393e46;
}

#btnBusca {
    margin-left: -30px;
}

input:focus {
    outline: none;
}

#carrinho {
    padding: 30px;
    display: flex;
}

#carrinho img {
    margin: 10px;
    background: none;
    border: none;
}

#carrinho a:hover {
    background: rgba(170, 170, 170, 0.062);
    transition: 0.5s;
}

#carrinho a {
    color: #fff;
}

#carouselExampleRide {
    padding-bottom: 50px;
    margin: 10px;
    overflow: hidden;
}

.carousel-item img {
    border-radius: 20px;
}

.carousel-control-prev,
.carousel-control-next {
    top: 50%;
    transform: translateY(-50%);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

.nomes {
    font-family: body;
    color: #eeeeee;
    text-align: center;
}

.card {
    border-radius: 20px;
    margin-bottom: 50px;
    background-color: #222831;
}

.image-with-margin img {
    border-radius: 10px;
}

.image-with-margin {
    margin: 10px;
}

#card {
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 5%;
}

.card-body {
    margin: 10px;
    border-radius: 10px;
    background-color: #00adb5;
}

.card-body a {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-decoration: none;
}

.card-body .card-title,
.card-body h6 {
    color: #eeeeee;
    font-family: body;
}

.btn_comprar {
    color: #eeeeee;
    font-family: body;
    width: fit-content;
    width: 60%;
    height: 35px;
    padding: 8px;
    border-radius: 15px;
    border: 2.5px solid #eeeeee;
    box-shadow: 0px 0px 20px -20px;
    background-color: #222831;
    transition: all 0.2s ease-in-out 0ms;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.btn_comprar:hover {
    color: #222831;
    background-color: #eeeeee;
    border: 2.5px solid #222831;
    box-shadow: 0px 0px 20px -18px;
}

.btn_comprar:active {
    transform: scale(0.95);
}

footer {
    height: auto;
    align-items: center;
}

#contato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#contato h4 {
    font-family: coolvetica;
    color: #eeeeee;
    margin-bottom: 10px;
}

#contato ul {
    list-style: none;
    padding: 0;
}

#contato li {
    font-family: coolvetica;
    color: #eeeeee;
    margin-bottom: 5px;
}

#rede_social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#titulo_rede_social {
    font-family: coolvetica;
    color: #eeeeee;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icons a {
    margin: 10px;
}

.social-icons img {
    border-radius: 20px;
    max-width: 100%;
    height: auto;
    max-height: 100px;
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#logo img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    max-height: 100px;
    margin-top: 50px;
}
